@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Ubuntu:ital,wght@1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(
    255deg,
    #a5e9e9 0,
    #45eeff 25%,
    #53bcf2 50%,
    #518db4 75%,
    #46647c 100%
  );
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.cabecalho-img {
  border-radius: 80px;
}

.cabecalho-menu {
  display: flex;
  gap: 40px;
}

.cabecalho-menu-item {
  font-family: "Lora", serif;
  font-weight: 400px;
  font-size: 18px;
  text-decoration: none;
  color: #000;
}

.cabecalho-menu-item:hover {
  color: aliceblue;
}

.conteudo {
  border-top: 0.4px solid #fff;
  margin-bottom: 48px;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-escrito-titulo {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 64px;
}

.conteudo-principal-escrito-subtitulo {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 24px;
}

.conteudo-principal-escrito-botao {
  background-color: #a8faf6;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 18px;
  width: 180px;
  height: 67px;
  border: none;
  box-shadow: 4px 5px 4px #46647c;
  border-radius: 20px;
}

.conteudo-principal-escrito-botao:hover {
  background-color: aliceblue;
}

.conteudo-principal-img {
  padding: 20px;
  border-radius: 80px;
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
  padding: 20px;
}

.conteudo-secundario-titulo {
  border-top: 0.4px solid #fff;
  padding-top: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.conteudo-secundario-escrito {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 16px;
}

.rodape {
  padding: 32px;
  border-top: 0.4px solid #fff;
}

.rodape-img {
  display: block;
  margin: 0 auto;
  border-radius: 80px;
}

.modal-dialog {
  margin: 0;
  padding: 0;
  background-color: #f0f8ff;
  font-family: "Lora", serif;
  color: #59429d;
  margin-left: 36%;
  margin-top: 2%;
  justify-content: center;
}

#subtitulo {
  font-family: "Ubuntu", sans-serif;
  color: #380061;
  margin-left: 7%;
}

fieldset {
  padding: 100px;
  border: 0;
}

input,
select,
textarea {
  border-radius: 5px;
}

textarea {
  width: 80%;
}

.campo {
  margin-bottom: 1em;
}

.campo label {
  margin-bottom: 0.2em;
  color: #59429d;
  display: block;
}

fieldset .grupo .campo {
  float: left;
  margin-right: 1em;
}

.campo input[type="text"],
.campo input[type="email"],
.campo select,
.campo textarea {
  padding: 0.2em;
  border: 1px solid #59429d;
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0, 2);
  display: block;
}

.campo select option {
  padding-right: 1em;
}

.campo input:focus,
.campo select:focus,
.campo textarea:focus {
  background-color: #e0e0f8;
}

fieldset div {
  margin: 10px;
  padding: 2px;
}
