.header {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 49%, rgba(128,128,128,1) 100%);      
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
  }
  
  .cabecalho-img {
    border-radius: 80px;
  }
  
  .cabecalho-menu {
    display: flex;
    gap: 40px;    
  }
  
  .cabecalho-menu-item {
    font-family: "Lora", serif;
    font-weight: 400px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
  }
  
  .cabecalho-menu-item:hover {
    color: dodgerblue;
  }